/*
Theme Name: TheDock
Theme URI: https://github.com/LuisColome/the-dock
GitHub Theme URI: https://github.com/LuisColome/the-dock
Description: This is a Genesis starter theme by Luis Colomé.
Author: Luis colomé
Author URI: https://luiscolome.com/

Version: 1.0.4.1

Template: genesis

License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html

Text Domain: thedock
Requires at least: 5.4
Requires PHP: 5.6
*/
