@use "abstracts" as *;

/* Blockquote
--------------------------------------------- */
.entry-content {
    
    .wp-block-quote,
    .wp-block-quote:not(.is-large):not(.is-style-large) {
        position: relative;
        padding: calc(5% + 10px) 5%;
        margin: $margin_2x auto;
        border: 2px solid $grey_3;
        border-radius: $border-radius; 
        text-align: left;

        //Clean blockquotes styles 
        blockquote {
            padding: 0;
            margin: 0;
        }

        &::before {
            @include block-cover();
            width: 40px;
            height: 40px;
            left: 50%;
            transform: translateY(-50%) translateX(-20px) rotate(180deg); 
            border: 2px solid $grey_3;
            border-radius: 100px;
            padding: 20px;
            background: $white url(../icons/utility/quote.svg) no-repeat center center;
            background-size: 25px;
            text-align: left;
        }

        p {
            color: $base-color;
            @include font-sizes(22px, 22px 24px);
            font-size: clamp(1.1rem, 1rem + .5vw, 1.25rem);
            font-style: italic;
            font-weight: 400;
        }

        cite {
            color: $base-color;
            display: block;
            font-size: 85%;
            font-weight: 700;
            margin-top: 12px;
            opacity: .5;
            text-transform: uppercase;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .wp-block-quote {
    
        &.is-style-large {
    
            p {
                font-size: clamp(1.35rem, 1.2rem + .5vw, 1.55rem);
                font-weight: 500;
                font-style: normal;
            }
    
        }
    }

    // WP Pullquote block 
    .wp-block-pullquote {
        position: relative;
        padding: calc(3% + 10px);
        margin: $margin_2x auto;
        border: 2px solid $grey_3;
        border-right: none;
        border-left: none;

        &::before {
            @include block-cover();
            width: 40px;
            height: 40px;
            left: 50%;
            transform: translateY(-50%) translateX(-20px) rotate(180deg); 
            border: 2px solid $grey_3;
            border-radius: 100px;
            padding: 20px;
            background: $white url(../icons/utility/quote.svg) no-repeat center center;
            background-size: 25px;
            text-align: left;
        }

        p {
            font-size: clamp(1.45rem, 1.2rem + .5vw, 1.65rem);
            font-weight: 500;
            font-style: normal;
        }
    }
}
