@use "abstracts" as *;

/* Button
--------------------------------------------- */

$default: nth(nth($brand_colors, 1), 1); // first color in $brand_colors array

.wp-block-button__link {
    border: 2px solid brand-color($default);
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    // line-height: 32px;
    padding: 0.5em 1.5em;
    text-decoration: none;

    .is-style-full &,
    &.full {
        display: block;
        width: 100%;
    }

    &:not(.has-text-color) {
        color: white;

        &:hover {
            color: white;
        }
    }

    &:not(.has-background) {
        background-color: brand-color($default);

        &:hover,
        &:focus {
            border: 2px solid brand-color($default, "darken");
            background-color: brand-color($default, "darken");
        }
    }

    .is-style-outline > &:not(.has-text-color), // front-end
    .is-style-outline & {
        border: 2px solid brand-color($default);
        color: brand-color($default);
        background-color: transparent;
        padding: 0.5em 1.5em;

        &:hover,
        &:focus {
            border: 2px solid brand-color($default, "darken");
            background-color: brand-color($default, "darken");
            color: $white;
        }
    }

    @each $name, $color in $brand_colors {
        .is-style-outline > &.has-text-color {
            &.has-#{$name}-color {
                border-color: $color;
                color: $color;

                &:hover,
                &:focus {
                    border-color: $color;
                    background-color: $color;
                    color: $white;
                }
            }
        }
    }

    // > .wp-block-button__link:not(.has-text-color), .wp-block-button__link.is-style-outline:not(.has-text-color)

    @each $name, $color in $brand_colors {
        &.has-#{$name}-color:hover,
        &.has-#{$name}-color:focus {
            color: $color;
        }

        &.has-#{$name}-background-color {
            background-color: brand-color($name);
            border-color: brand-color($name);
        }

        &.has-#{$name}-background-color:hover,
        &.has-#{$name}-background-color:focus {
            background-color: brand-color($name, "darken");
            border-color: brand-color($name, "darken");
        }
    }
}
