@use "abstracts" as *;

/* Code block
------------------------------------------------------------------------------ */
.wp-block-code {
    padding: $block-margin;
    margin-bottom: $wrap_edge;
    background-color: var(--clr-grey-300);
    border-radius: $border-radius;
    overflow: auto;
    white-space: nowrap;
}
