/* Plugins
---------------------------------------------------------------------------- */

/* Genesis Simple FAQ
--------------------------------------------- */

.gs-faq__question {
    background: transparent;
    border-bottom: 1px solid $grey_3;
    color: $grey_9;
    padding-left: 0;
    padding-right: 0;
  }
  
  .gs-faq__question:focus,
  .gs-faq__question:hover {
    background: transparent;
    color: $primary-color;;
  }
  
  .gs-faq__question::after {
    content: "\f132";
    font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    float: right;
  }
  
  .gs-faq__question.gs-faq--expanded::after {
    content: "\f460";
  }