@use "abstracts" as *;
@use "../vendor/include-media" as *;

.archive .site-main {
    margin-bottom: $margin_4x;
}

/* Archive Styles (based on partials/archive).
------------------------------------------------------------------------------ */

.lcm-posts {
    &.grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        gap: $margin_2x $grid-gap;
    }
}

.lcm-post {
    display: flex;
    flex-flow: column;

    &__image-link img {
        border-radius: 2px;
    }

    &__title {
        margin: 0.5rem 0 $base-margin 0;
        font-size: clamp(1.25rem, 1.1rem + 0.7vw, 1.4rem);

        a {
            text-decoration: none;
            color: $clr-font-400;

            &:hover {
                color: $clr-primary-400;
            }
        }
    }

    &__category {
        color: $clr-primary-400;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 1rem 0 0 0;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__excerpt {
        // font-size: 16px;
        margin-bottom: 1rem;
    }

    &__read-more-link {
        text-decoration: none;
        font-size: 0.875rem;
        color: $clr-font-400;
        text-transform: uppercase;

        &::after {
            content: "\279E";
            display: inline-block;
            font-size: 16px;
            margin-left: 4px;
        }
    }
}

/* Archive Header
--------------------------------------------- */

.archive-description {
    width: 100%;
    margin: 0 auto $grid-gap;

    & > *:last-child {
        margin-bottom: 0;
    }

    .search-form {
        margin: 0 auto;
    }
}

.author-archive-description {
    .avatar {
        border-radius: 50%;
        display: block;
        margin: 0 auto 16px;
    }

    h3:last-child {
        @include media(">=tablet") {
            margin-top: 48px;
        }
    }
}

.author-title {
    color: $grey_8;
    @include font-sizes(18px, 20px);
    font-weight: 700;
    text-transform: uppercase;
}

/* Entry Navigation
--------------------------------------------- */

.pagination {
    grid-column: 1 / -1;
    border-top: 1px solid $clr-border-400;
    font-size: 16px;
    text-align: center;
    padding-top: 22px;
    margin-top: $block-margin;

    ul {
        margin: 0;
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        li {
            list-style-type: none;
            display: inline-block;

            a {
                color: $clr-font-400;
                background-color: $grey_2;
                border-radius: 3px;
                display: block;
                font-weight: 400;
                text-decoration: none;
                width: 2rem;
                height: 2rem;
                line-height: 30px;
                text-align: center;
            }

            &.pagination-next a,
            &.pagination-previous a {
                width: auto;
                padding: 0 1rem;
            }

            &:hover,
            &:focus,
            &.active {
                > a {
                    background: $clr-primary-400;
                    color: $white;
                }
            }

            // &.active > a {
            //     background: $clr-primary-400;
            //     color: $white;
            // }
        }
    }
}
