@use "abstracts" as *;

// Comments

/* Entry Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 40px;
}

.comment-list {

    li {
        padding: 40px 0 0 30px;
    }

    .depth-1 {
        padding-left: 0;
    }
}

.comment-header {
    margin-bottom: 30px;

    p {
        margin-bottom: 0;
    }
}

.comment-content {
    clear: both;

        ul > li {
            list-style-type: disc;
        }
}

.comment-respond {

    .comment-reply-title {
        font-size: 22px;
        font-weight: 700;
    }

    .comment-form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 0 $grid-gap;

        a {
            font-weight: 400;
        }
    }

    .comment-form-comment,
    .comment-form-cookies-consent {
        grid-column: 1/-1;
    }

    .comment-form-cookies-consent {
        display: flex;
        flex-flow: row nowrap;

        input {
            max-width: 14px;
        }
    }

    label {
        display: block;
        margin-right: 12px;
    }
}

.entry-pings .reply {
  display: none;
}

.comment-form-cookies-consent label {
  display: inline;
  padding-left: 10px;
}