@use "abstracts" as *;

/* Entry Meta
--------------------------------------------- */

.entry-author {
    font-size: 14px;

    .avatar {
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
    }

    a {
        color: $clr-primary-400;
        text-decoration: none;

        &:hover {
            color: $clr-highlight-400;
        }
    }
}

.entry-meta {
    font-size: 16px;
    margin-bottom: 0;

    .entry-header & {
        margin-bottom: 20px;
    }

    .entry-footer & {
        border-top: 1px solid $grey_3;
        padding-top: 20px;
    }

    .entry-comments-link::before {
        content: "\2014";
        margin: 0 6px 0 2px;
    }
}

.entry-categories,
.entry-tags {
    display: block;
}

.breadcrumb {
    font-size: 16px;
    margin-bottom: 24px;

    a {
        color: $clr-primary-400;

        &:hover {
            color: $clr-highlight-400;
        }
    }

    .single & {
        border-top: 1px solid $grey_3;
        padding-top: 32px;
        text-align: center;
    }
}

.author-box {
    position: relative;
    padding-left: 120px;
    min-height: 120px;

    .archive & {
        grid-column: 1 / -1;
        max-width: $content-width;
        margin: 0 auto $grid-gap;
    }

    .author-box-title {
        @include font-sizes(22px, 28px);
    }

    .avatar {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
