@use "abstracts" as *;

// Forms, Tables and buttons base styles (not block)

/* Forms
--------------------------------------------- */

input,
select,
textarea {
    background: white;
    border: 1px solid var(--clr-border-400);
    border-radius: 4px;
    color: var(--clr-font-400);
    font-size: 18px;
    line-height: 24px;
    padding: 14px 16px;
    width: 100%;
}

select {
    line-height: 54px;
    height: 54px;
}

textarea {
    width: 100%;
}

@include placeholder-color(var(--clr-grey-500));

/* Search Form
--------------------------------------------- */

.search-form {
    border: 1px solid var(--clr-border-400);
    max-width: 400px;
    position: relative;
    overflow: hidden;

    .search-field {
        border: none;
        padding-right: 44px;
        width: 100%;
    }

    .search-submit {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        min-width: 0;
        width: 44px;
        height: 44px;
        line-height: 0;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -22px;
        right: 0;

        svg {
            fill: var(--clr-grey-700);
            @include icon-position(20px);

            &:hover {
                fill: var(--clr-secondary-400);
            }
        }
    }
}
