@use "abstracts" as *;
@use "../vendor/include-media" as *;

// Site Header

/* Site Header
---------------------------------------------------------------------------- */

.site-header {
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $header-height;
    background-color: $white;
    padding: 0 $wrap_edge;
    border-bottom: 1px solid $grey_3;
    @include transition;

    &::before,
    &::after {
        // clean the flex-flow
        content: none;
    }

    // &.shrink {
    //     height: 60px;
    //     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    //     .site-title a {
    //     color: $grey_9;
    //     }
    // }

    .wrap {
        width: 100%;
        max-width: $grid-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before,
        &::after {
            // clean the flex-flow
            content: none;
        }
    }
}

/* Admin Bar
--------------------------------------------- */

@include media(">medium") {
    .admin-bar {
        .site-container {
            margin-top: 32px;
        }
        .site-header {
            top: 32px;
        }
    }
}

// We don't work from mobile, so hide it
@include media("<=medium") {
    #wpadminbar {
        display: none !important;
    }
}

/* Title Area
  --------------------------------------------- */

.title-area {
    position: relative;
    z-index: 9; // make the site title,visible when menu is active
    padding: 0;
    max-width: $logo-width;
    @include transition;

    // .wp-custom-logo .shrink & {
    //     max-width: calc(#{$logo-width}/1.5);
    // }
}

.site-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    overflow: hidden;

    .wp-custom-logo & {
        text-indent: -9999;
    }

    a,
    a:focus,
    a:hover {
        color: $grey_8;
        text-decoration: none;
    }
}

.site-description,
.wp-custom-logo .site-title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
