@use "abstracts" as *;
@use "../vendor/include-media" as *;

// footer and creds

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
    // background: brand-color( 'blue' );
    background: $grey_8;
    padding: 40px $wrap_edge 10px;
    position: relative;
    color: $white;

    .wrap {
        &::before,
        &::after {
            content: none;
        }
    }

    ul {
        margin-bottom: 30px;
    }

    li {
        list-style-type: none;
        margin-bottom: 12px;
    }

    .widget-title {
        color: $white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        svg {
            fill: $white;
            @include icon-position(20px);
            margin-right: 12px;
        }
    }

    @include media("<tablet") {
        .social-links li {
            display: inline-block;
            margin: 0;
        }

        .social-links .label {
            display: none;
        }

        .footer-widgets-1 {
            float: left;
            width: calc(50% - 8px);
        }

        .footer-widgets-2 {
            float: right;
            width: calc(50% - 8px);
        }

        .footer-widgets-3 {
            overflow: hidden;
            width: 100%;
        }
    }

    @include media(">=tablet") {
        .wrap {
            max-width: $grid-width;
            margin: 0 auto;
            @include columns(3, "div");
        }
    }
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
    background: $grey_10;
    color: rgba($white, 0.75);
    font-size: 14px;
    padding: 32px 0;
    text-align: center;

    .wrap {
        max-width: $grid-width;
        margin: 0 auto;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: rgba($white, 0.75);

        &:hover {
            color: rgba($white, 1);
        }
    }

    .footer-links a + a {
        margin-left: 12px;
    }

    @include media(">=tablet") {
        text-align: left;

        .footer-left {
            float: left;

            & > *:last-child {
                margin-bottom: 0;
            }
        }

        .copyright,
        .footer-links {
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.backtotop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: $primary-color;
    border-radius: 4px;
    line-height: 0;
    padding: 0.75rem;
    text-decoration: none;
    visibility: hidden;
    @include transition;

    svg {
        fill: $white;
        vertical-align: middle;
    }

    &.visible {
        visibility: visible;
        opacity: 0.5;
        z-index: 99999;
    }

    &:hover {
        opacity: 1;
    }
}
