@use "abstracts" as *;
@use "../vendor/include-media" as *;

// footer and creds

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
    background: var(--clr-grey-800);
    padding: 40px $wrap_edge 10px;
    position: relative;
    color: white;

    .wrap {
        &::before,
        &::after {
            content: none;
        }
    }

    ul {
        margin-bottom: 30px;
    }

    li {
        list-style-type: none;
        margin-bottom: 12px;
    }

    .widget-title {
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        svg {
            fill: white;
            @include icon-position(20px);
            margin-right: 12px;
        }
    }

    @include media("<tablet") {
        .social-links li {
            display: inline-block;
            margin: 0;
        }

        .social-links .label {
            display: none;
        }

        .footer-widgets-1 {
            float: left;
            width: calc(50% - 8px);
        }

        .footer-widgets-2 {
            float: right;
            width: calc(50% - 8px);
        }

        .footer-widgets-3 {
            overflow: hidden;
            width: 100%;
        }
    }

    @include media(">=tablet") {
        .wrap {
            max-width: $grid-width;
            margin: 0 auto;
            @include columns(3, "div");
        }
    }
}

/* Site Footer (Creds)
---------------------------------------------------------------------------------------------------- */

.site-footer {
    background: var(--clr-submenu-bg);
    color: var(--clr-grey-200);
    font-size: 1rem;
    padding: 2rem 0;
    // text-align: center;

    .wrap {
        max-width: $grid-width + $wrap_edge;
        padding: 0 $wrap_edge;
        margin: 0 auto;
    }

    a {
        text-decoration: underline;
        color: var(--clr-grey-200);
        font-weight: 400;

        &:hover {
            color: var(--clr-primary-400);
        }
    }

    // Footer logo + secondary navigation.

    // Both, Nav + logo and Social icons + site credits wrappers.
    &__nav-wrapper,
    &__creds-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        gap: var(--gap, 2rem);

        @include media(">=mobile_menu") {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    // Footer logo (orange)
    &__logo__img {
        margin: 0;
        overflow: hidden;
        width: calc(12rem + 2vw);
    }

    /** Footer creds border top
    ---------------------------------------------- */
    &__creds-wrapper {
        border-top: 1px solid var(--clr-grey-200);
        --gap: 1rem;
    }

    &__social {
        display: flex;
        gap: 0.5rem;
        // Social icons colors
        &__link {
            svg {
                fill: var(--clr-grey-200);
            }
        }
    }

    &__copyright {
        margin-bottom: 0;
    }
}

.backtotop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--clr-primary-400);
    border-radius: 4px;
    line-height: 0;
    padding: 0.75rem;
    text-decoration: none;
    visibility: hidden;
    @include transition;

    svg {
        fill: white;
        vertical-align: middle;
    }

    &.visible {
        visibility: visible;
        opacity: 0.5;
        z-index: 99999;
    }

    &:hover {
        opacity: 1;
    }
}
