@use "abstracts" as *;

/** Contact Form 7
---------------------------------------------------------------------------- */

.wpcf7 .screen-reader-response {
    display: none;
}

.wpcf7-response-output {
    .failed &,
    .invalid &,
    .sent & {
        display: flex;
        align-items: center;
        padding: 1.5em 2em;
        border-radius: 10px;
        box-shadow: 0 1.3px 6.5px rgba(0, 0, 0, 0.065),
            0 4.5px 21.9px rgba(0, 0, 0, 0.087), 0 20px 98px rgba(0, 0, 0, 0.12);
        font-size: 1rem;

        &::before {
            margin-right: 0.5em;
            font-size: 2em;
        }
    }

    .failed &,
    .invalid & {
        color: crimson;

        &:before {
            content: "\26A0";
        }
    }

    .sent & {
        color: green;

        &::before {
            content: "\2713";
        }
    }
}

.lcm-cf7-form {
    .lcm-cf7-form__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: $block-margin;
        margin-bottom: $block-margin;
    }

    label {
        font-size: 15px;

        span.required {
            color: crimson;
            font-weight: 400;
        }

        .wpcf7-form-control-wrap {
            input,
            textarea {
                &:focus {
                    border-color: var(--clr-primary-400);
                    outline: none;
                }

                &.wpcf7-not-valid {
                    border: 1px solid crimson;
                }
            }

            .wpcf7-not-valid-tip {
                font-size: 90%;
                color: crimson;
            }
        }
    }

    .lcm-cf7-form__input input {
        margin: $block-margin 0;
        padding: 12px 36px;
        width: auto;
        min-width: 250px;
        border: none;
        color: white;
        background-color: var(--clr-button-bg-400);
        border-radius: var(--btn-border-radius);

        &:hover {
            background-color: var(--clr-button-bg-500);
        }
    }

    input {
        border-radius: var(--btn-border-radius);
    }
}

// Privacy Policy Contact Form 7 consent.
.wpcf7-acceptance {
    .wpcf7-list-item {
        margin: 0;
    }

    label {
        display: flex;

        input {
            width: 16px;
            margin-inline-end: 1rem;
        }
    }
}
