@use "abstracts" as *;

/* Genesis Blocks
---------------------------------------------------------------------------- */

.gb-block-post-grid h2 a {
    text-decoration: none;
}

.gb-block-post-grid .gb-post-grid-items h2 a:hover {
    color: $primary-color;
}

@media only screen and (max-width: 510px) {
    .gb-block-container.alignfull::before {
        content: " ";
        display: table;
    }

    .gb-block-container.alignfull::after {
        clear: both;
        content: " ";
        display: table;
    }
}